@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://wreise.github.io/fonts/Ubuntu-Regular.tff) format('tff');
}

body
{
    margin: 0;
    font-family: Ubuntu,-apple-system,BlinkMacSystemFont,"Segoe UI",Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #ffffff;
}

.main_wrapper
{
    min-width: 600px;
    width: 60%;
    margin: auto;
}
a {
    color: #1f8fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #70a1ff;
    text-decoration: underline;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

button {
  background-color: white;
  border: none;
  color: black;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  /*font-size: 16px;*/
  margin: 4px 2px;
  cursor: pointer;
}

.abstract {
  text-align: justify;
  width: min(800px, 60%);
  padding: 2px 5px;
}

.overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: min(300px, 40%);
}

header
{
    display: flex;
    height: 4em;
    margin: 0.2em;
    border-radius: 0.6em;
    text-decoration: none;
    justify-content: left;
    align-items: left;
}
.social_icon
{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.profile_picture
{
    display: flex;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.article
{
	.title
	{
	font-weight: 900;
	}
	.authors
	{
	font-style: italic;
	}
}

.section_separator
{
    color: #11aa89d3;
    margin: 10px 0px 10px 0px;
    /* width: 50%; */
    align-content: center;
    
}
li
{
    margin-bottom: 0.8em;
}
